
E-Commerce Application.xcodeproj/xcuserdata/nourallahahmed.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/nourallahahmed.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcscheme
*.pbxproj
*.resolved
E-Commerce Application.xcodeproj/xcuserdata/nourgweda.xcuserdatad/xcschemes/xcschememanagement.plist
*.pbxproj
E-Commerce Application.xcodeproj/project.pbxproj
*.pbxproj
